@model ProjectManager.Models.News

<h2>News Details</h2>

<fieldset>
    <h3>@Model.Title</h3>
    <p class="newsdate"> @String.Format("{0:g}", Model.Date)</p>
    <p>@Model.Text</p>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

