@model IEnumerable<ProjectManager.ViewModels.PlagiarismModel>
           
<h2>Plagiarism detection</h2>

<p>
<a href="@Request.UrlReferrer.ToString()">Back to projects</a>
</p>

<table class="manage">
    <tr>
        <th>
            User
        </th>
        <th>
            Checked PDF file
        </th>
    </tr>
    <tr>
        <td>
            @ViewBag.checkedFile.ProjectData.UserName
        </td>
        <td>
            <a href="../../Uploads/PDF/@ViewBag.checkedFile.ProjectData.Pdf">@ViewBag.checkedFile.ProjectData.Pdf</a>
        </td>
    </tr>
</table>

<p></p>

<table class="manage">
    <tr>
        <th>
            User
        </th>
        <th>
            PDF file
        </th>
        <th>
            Plagiarism
        </th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.ProjectData.UserName
        </td>
        <td>
            <a href="../../Uploads/PDF/@item.ProjectData.Pdf">@item.ProjectData.Pdf</a>
        </td>
        <td>
            @item.result
            %
        </td>
    </tr>
    
}
</table>