@model ProjectManager.Models.User

<h2>User Details</h2>

<fieldset>
    <legend>Basic info</legend>
    <table class="userinfo">    
        <tr><td><strong>User:</strong></td><td>@Model.UserName </td></tr>
		<tr><td><strong>E-mail:</strong></td><td>@Model.Email </td></tr>
		<tr><td><strong>Role:</strong></td><td>@Model.Role </td></tr>
		<tr><td><strong>Comment:</strong></td><td>@Model.Comment </td></tr>
		<tr><td><strong>Locked Out:</strong></td><td>@Model.IsLockedOut </td></tr>
		<tr><td><strong>Creation Date:</strong></td><td>@String.Format("{0:d}", Model.CreationDate) </td></tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

